doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title #{title}
    body
        h1 Edit task page 
        form(action="/task/" + task.id, method="post")
            input(name="_method", value="PUT" , type="hidden")
            legend Editing Task 
                div.clearfix
                    label Task 
                    div.input
                        input(name='task[task]', type="text", value='#{task.task}')
                div.actions
                    input(type="submit", value="Save", class="btn primary")
                    button(type="reset", class="btn")  